@use '../utilities//variables' as v;

.cart-product-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: v.$color-rose-gold;
  padding: 10px 20px;
  border-bottom: 2px solid v.$color-chestnut;
  .flex-item {
    padding: 10px;

    &.w-30 {
      width: 30%;
    }
    &.w-20 {
      width: 20%;
    }
    .img-wrap {
      position: relative;
      width: 100%;
      height: 100px;
      img {
        margin-right: auto;
        object-fit: contain;
        max-height: 100px;
        max-width: 100px;
      }
    }
  }
}
