@use '../utilities//variables' as v;

.cart-product-card {
  .img-wrap {
    position: relative;
    width: 100%;
    height: 100px;
    img {
      margin-right: auto;
      object-fit: contain;
      max-height: 100px;
      max-width: 100px;
    }
  }
}
