@use '../utilities/variables' as v;

.product-card-wrap {
  width: 100%;
  max-width: 220px;
  height: 400px;
  background-color: v.$color-rose-gold;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;

  @media (max-width: 600) {
    max-width: 180px;
  }

  .img-wrap {
    position: relative;
    width: 100%;
    height: 200px;

    img {
      margin-right: auto;
      margin-left: auto;
      object-fit: contain;
      max-height: 200px;
      max-width: 100px;
      filter: drop-shadow(2px 4px 8px #000);
    }
  }

  .detail-wrap {
    position: absolute;
    bottom: 12px;
    width: 100%;
    .type {
      color: #88737e;
    }

    .qty {
      color: #88737e;
    }

    .price {
      color: #85586f;
      font-size: 20px;
    }
  }

  &:hover {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
