.signin-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  padding: 36px 12px;
  background-image: url(../../public/banners/signin.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(237, 205, 187, 0.8);
}
