@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

$color-rose-gold: #edcdbb;
$color-rose-gold-dark: #e3b7a0;
$color-cream: #ffeddb;
$color-chestnut: #643700;
$color-purple: #85586f;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $color-cream;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
